<html>
<head>
    <title>JoãoNews</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header>
    <div class="center">
        <div class="logo">
            <h2><a href="/"><span style="font-weight: 300;">J</span><b>News</b></a></h2>
        </div><!--Logo-->
        <div class="form-busca">
            <form action="/">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" placeholder="Buscar" name="busca" style="font-weight: 300;">
            </form>
        </div>
    </div><!--Center-->
</header>